* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img,
svg {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

html,
body {
  padding: 0;
  background-color: rgba(46, 46, 46, 0);
}

@media (min-width: 700px) {
  html,
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.sidebar {
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #014280;
}

@media (min-width: 700px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 300px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
  }
  .sidebar .landing__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content {
  margin-top: 100px;
}

@media (min-width: 700px) {
  .content {
    margin-top: 0;
    margin-left: 300px;
  }
}

.landing__title {
  color: #0099ff;
  font-family: "Limelight", cursive;
  text-align: left;
}

.landing__title-mod {
  font-family: "Odibee Sans", cursive;
  font-size: xx-large;
}

.project {
  font-family: "Noto Sans JP", sans-serif;
  margin: 5px;
}

.project__item {
  background-color: #729efd;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.project__item__title {
  display: inline;
  margin-right: 50px;
  margin-bottom: 20px;
}

.project__item .action {
  text-decoration: none;
  color: white;
  background-color: #0f8500;
  border-radius: 10px;
  padding: 5px 10px;
}

.project__item .action:visited {
  text-decoration: none;
}

.project__item .action:hover {
  background-color: #084700;
}

.project__item .action:active {
  background-color: #353535;
}

.project p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
}
/*# sourceMappingURL=index.css.map */